.root { 
    -fx-font-family: "Breathe Fire";
    -fx-background-color: #56585b;

}

.button {
    -fx-border-style: solid; 
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-text-fill: #a89c1c;
    -fx-border-color: #a89c1c;
    -fx-background-color: #281606;
}

.button:hover{
    -fx-background-color:#bc0909;
    -fx-border-color: #848484;
}

.list-view{
    -fx-border-style: solid;
    -fx-border-width: 0;
    -fx-border-color:#bc0909;
    -fx-background-color:grey;
}

.list-cell{
    -fx-background-color:grey;
    -fx-text-fill:#a89c1c;
}

.list-cell:selected{
    -fx-text-fill: red;
    -fx-background-color:black;
}

<<<<<<< HEAD
#highscoreLabel{ 
    -fx-font-family: "Breathe Fire";
=======
.label{ 
-fx-font-family: "Breathe Fire";
>>>>>>> origin/master
}










