.root { 
    -fx-font-family: "Breathe Fire";
    -fx-background-color: #56585b;


}

.label{
    -fx-text-fill: #a89c1c;
}


#mapGrid { 
-fx-background-image: url("gamemap.png");
-fx-background-repeat: no-repeat;
-fx-background-position: center center;


}

.button {
    -fx-border-style: solid; 
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-text-fill: #a89c1c;
    -fx-border-color: #a89c1c;
    -fx-background-color: #281606;
-fx-font-size:120%;
}

.button:hover{
    -fx-background-color:#bc0909;
    -fx-border-color: #848484;
}

.list-view{
    -fx-border-style: solid;
    -fx-border-width: 0;
    -fx-border-color:#bc0909;
    -fx-background-color:grey;
-fx-font-size:150%;
}

.list-cell{
    -fx-background-color:grey;
    -fx-text-fill:#a89c1c;
}

.list-cell:selected{
    -fx-text-fill: red;
    -fx-background-color:black;
}

#highscoreLabel{ 
    -fx-font-family: "Breathe Fire";
}

.label{ 
    -fx-font-family: "Breathe Fire";
-fx-font-size:150%;
}

.split-pane{
    
}

.split-pane-divider{
    -fx-background-color: "transparent";
    -fx-padding: 0 0 0 0;
}










