.root { 
    -fx-font-family: "Breathe Fire";
    -fx-background-color: #56585b;

}

#gameTitleLabel { 
    -fx-font-family: "Salterio Shadow";
    -fx-font-size:250%;
    -fx-text-fill: #a89c1c;



}


.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

#talkLabel{
    -fx-background-color: #875920;
}
#PopupPane{
    -fx-background-color: #875920;
    -fx-padding: 15; 

}


#popUpVBox{
    -fx-background-color: #875920;
    -fx-padding: 10;
}




.label{
    -fx-text-fill: #a89c1c;
}

#legendPane {
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("icon-legend.png");


}

#talkButton  { 
    -fx-font-family: "Breathe Fire";

} 

#cityCenterPane {
    -fx-border-style: dashed; 
    -fx-border-width: 3;
    -fx-padding: 2;

}

#forrestPane { 
    -fx-border-style: dashed; 
    -fx-border-width: 3;
    -fx-padding: 2;
}

#farmPane {
    -fx-border-style: dashed; 
    -fx-border-width: 3;
    -fx-padding: 2;
}

#deepWoodsPane {
    -fx-border-style: dashed; 
    -fx-border-width: 3;
    -fx-padding: 2;

}

#cavePane { 
    -fx-border-style: dashed; 
    -fx-border-width: 3;
    -fx-padding: 2;
}

#shopPane {
    -fx-border-style: dashed; 
    -fx-border-width: 3;
    -fx-padding: 2;
}


#castlePane { 
    -fx-border-style: dashed; 
    -fx-border-width: 3;
    -fx-padding: 2;
}

#excaliburPane { 
    -fx-border-style: dashed; 
    -fx-border-width: 3;
    -fx-padding: 2;


}

#tawernPane { 
    -fx-border-style: dashed; 
    -fx-border-width: 3;
    -fx-padding: 2;
}

#towerPane {
    -fx-border-style: dashed; 
    -fx-border-width: 3;
    -fx-padding: 2;
}

#compasPane { 
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("compass-clipart.gif");
    -fx-background-size: 150px;
    -fx-background-width: 300px;
    -fx-background-height: 300px;


}

#attackButton { 
    -fx-font-family: "Breathe Fire";

}
#mapGrid { 
    -fx-background-image: url("XqRBXyO.jpg");

    -fx-background-position: center center;
    -fx-font-size:150%;


}

.button {
    -fx-border-style: solid; 
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-text-fill: #a89c1c;
    -fx-border-color: #a89c1c;
    -fx-background-color: #281606;
    -fx-font-size:120%;
}

.button:hover{
    -fx-background-color:#bc0909;
    -fx-border-color: #848484;
}

.list-view{
    -fx-border-style: solid;
    -fx-border-width: 0;
    -fx-border-color:#bc0909;
    -fx-background-color:grey;
    -fx-font-size:150%;
}

.list-cell{
    -fx-background-color:grey;
    -fx-text-fill:#a89c1c;
}

.list-cell:selected{
    -fx-text-fill: red;
    -fx-background-color:black;
}

#highscoreLabel{ 
    -fx-font-family: "Breathe Fire";
}

.label{ 
    -fx-font-family: "Breathe Fire";
    -fx-font-size:150%;
}

.split-pane{

}

.split-pane-divider{
    -fx-background-color: "transparent";
    -fx-padding: 0 0 0 0;
}

#gameOverText {

    -fx-font-family: "Breathe Fire";

}










